{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row aboutus">
    <h1 style="text-align:center;"> About<b style="color:#ff8f00;">Us <i class="fa fa-info-circle" ></i></b></br></h1>
    <p style="text-align:center;">There are multiple reason to choose us for your multiple purpode to realeted to your shopping.Believe<br> me you will find us best suitable.</p>

    <div class="col-sm-1 "></div>
    <div class="col-sm-10 bg-light" style="min-height:400px;">
        <h2 style="text-align:center; padding-top:20px;Arial Rounded MT Bold">INTRODUCTION</h2>
        <p style="text-align:justify;">
        FavCart is a form of electronic comerce which allows consumers to directly buy goods or srvices from a seller ocer the internet using a web browser  now a days the life
        style of the people is diffrent. People ffel uncomfortable and time consuming  for going crowded markets.So, E-Shopping is a boon as it saves lot of time .
        Online shopping is a process whereby  consumers directly buy goods , services etc. from a seller withought an intermediary services over the internet. Shoppers can visit
        web stores from the comfort of their house  and shop as by sitting front of the computer . online  stores are usually 24 hours a day and many consumers have internet access
        both at workand at home.E-Shopping is a boon as it saves lot of time .
        Online shopping is a process whereby  consumers directly buy goods , services etc. from a seller withought an intermediary services over the internet. Shoppers can visit
        web stores from the comfort of their house  and shop as by sitting front of the computer . online  stores are usually 24 hours a day and many consumers have internet access
        both at workand at home.E-Shopping is a boon as it saves lot of time .
        Online shopping is a process whereby  consumers directly buy goods , services etc. from a seller withought an intermediary services over the internet. Shoppers can visit
        web stores from the comfort of their house  and shop as by sitting front of the computer . online  stores are usually 24 hours a day and many consumers have internet access
        both at workand at home.E-Shopping is a boon as it saves lot of time .
        Online shopping is a process whereby  consumers directly buy goods , services etc. from a seller withought an intermediary services over the internet. Shoppers can visit
        web stores from the comfort of their house  and shop as by sitting front of the computer . online  stores are usually 24 hours a day and many consumers have internet access
            both at workand at home.</p>

    </div>
    <div class="col-sm-1 "></div> <hr class="mt-5">
    <div class="col-sm-6">
        <h2><b>&nbsp; Objective</b></h2>
        <ul>
            <li>It is time Saving and energy Saving.</li>
            <li>Person can easily login to site while sitting on home.</li>
            <li>Person can buy more than one product without going anywhere.</li>
            <li>The transactions are executed in off-line mode, hence on-line data for Shopping,internet capture modification is not possible</li>
            <li>Manage the information and description  of the Shopping.</li>
            <li> To increase efficiency of managing the Shopping</li>
            <li>It deals with monitoring the information and transaction of Bills.</li>

        </ul>

    </div>
    <div class="col-sm-6"></div><hr class="mt-5">

</div>
{% endblock %}